html {
  --app-color-text-primary: #000;
  --app-color-text-details: #222;
  --app-color-background-primary: #fff;
}
html {
  --app-color-text-primary: #ffffff;
  --app-color-text-details: #eee;
  --app-color-background-primary: #111111;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--app-color-background-primary);
  color: var(--app-color-text-primary)
}
a {
  color: var(--app-color-text-details);
  text-decoration: none;
  display: inline-block;
}